<a href="https://colab.research.google.com/github/Hira63S/Project-2-Water-Pump/blob/master/DS_Project2_Water_Pumps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tanzanian Water Pumps#

In [72]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.3.9)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)

In [11]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/6e/a1/f7a22f144f33be78afeb06bfa78478e8284a64263a3c09b1ef54e673841e/category_encoders-2.0.0-py2.py3-none-any.whl (87kB)
     |████████████████████████████████| 92kB 3.4MB/s
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.1)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.9.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.3)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.0)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.12.5)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.0.0

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.exceptions import DataConversionWarning
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
import category_encoders as ce
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.model_selection import RandomizedSearchCV
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split

In [0]:
url1 = 'https://raw.githubusercontent.com/Hira63S/Project-2-Water-Pump/master/train_features.csv'

In [119]:
X_train = pd.read_csv(url1)
X_train.head()

      id  amount_tsh  ...              waterpoint_type waterpoint_type_group
0  69572      6000.0  ...           communal standpipe    communal standpipe
1   8776         0.0  ...           communal standpipe    communal standpipe
2  34310        25.0  ...  communal standpipe multiple    communal standpipe
3  67743         0.0  ...  communal standpipe multiple    communal standpipe
4  19728         0.0  ...           communal standpipe    communal standpipe

[5 rows x 40 columns]

In [0]:
url2 = 'https://raw.githubusercontent.com/Hira63S/Project-2-Water-Pump/master/train_labels.csv'

In [121]:
y_train = pd.read_csv(url2)
y_train.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

Drop id feature in y_train and it's all set for test train split

In [0]:
y_train = y_train.drop(columns = 'id')

In [0]:
X_train = X_train.drop(columns = 'id')

In [129]:
X_train.describe(include='number')

          longitude      latitude  ...    population  construction_year
count  47520.000000  4.752000e+04  ...  47520.000000       47520.000000
mean      34.091316 -5.705002e+00  ...    179.528283        1303.353199
std        6.538403  2.943503e+00  ...    472.772997         950.763878
min        0.000000 -1.164944e+01  ...      0.000000           0.000000
25%       33.084320 -8.532465e+00  ...      0.000000           0.000000
50%       34.911677 -5.017697e+00  ...     25.000000        1986.000000
75%       37.180585 -3.326464e+00  ...    213.000000        2004.000000
max       40.345193 -2.000000e-08  ...  30500.000000        2013.000000

[8 rows x 6 columns]

Let's start with just the numerics. Let's get rid of unnecessary columns, then split into train and validation sets and then move on to using just the numerics.

In [131]:
X_train.head(2)

       longitude  latitude   region  ...      quantity        source  source_class
3607   35.426020 -4.227446  Manyara  ...  insufficient        spring   groundwater
50870  35.510074 -5.724555   Dodoma  ...        enough  shallow well   groundwater

[2 rows x 16 columns]

Dropping all the unnecessary columns in X_trian

In [0]:
X_train = X_train.drop(columns=['amount_tsh', 'date_recorded', 'funder', 'installer',
                               'gps_height', 'wpt_name', 'num_private','basin','subvillage',
                               'lga', 'ward', 'public_meeting', 'scheme_name',
                               'extraction_type_group', 'extraction_type_class', 'management',
                               'management_group', 'payment_type', 'quality_group',
                               'source_type', 'quantity_group', 'waterpoint_type',
                               'waterpoint_type_group'])

In [0]:
X_train, X_val, y_train, y_val = train_test_split(
    X_train, y_train, test_size=0.2, random_state=42)

In [127]:
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((47520, 16), (11880, 16), (47520, 1), (11880, 1))

In [128]:
X_train.head()

       longitude  latitude    region  ...      quantity        source  source_class
3607   35.426020 -4.227446   Manyara  ...  insufficient        spring   groundwater
50870  35.510074 -5.724555    Dodoma  ...        enough  shallow well   groundwater
20413  32.499866 -9.081222     Mbeya  ...        enough  shallow well   groundwater
52806  34.060484 -8.830208     Mbeya  ...  insufficient         river       surface
50091  37.032690 -6.040787  Morogoro  ...        enough  shallow well   groundwater

[5 rows x 16 columns]

looking good so far when it comes to shape and columsn as well.
now, check for nulls

In [133]:
X_train.isnull().sum()

longitude               0
latitude                0
region                  0
region_code             0
district_code           0
population              0
recorded_by             0
scheme_management    3102
permit               2439
construction_year       0
extraction_type         0
payment                 0
water_quality           0
quantity                0
source                  0
source_class            0
dtype: int64

so some categorical have nulls but we are first going to use only numerical so let's ignore those.

In [0]:
X_train_numeric = X_train.select_dtypes('number')
X_val_numeric = X_val.select_dtypes('number')

In [135]:
X_train_numeric.shape, X_val_numeric.shape, y_train.shape, y_val.shape

((47520, 6), (11880, 6), (47520, 1), (11880, 1))

don't need to encode the numerical columns for X_train so I guess I can move on to make my model.

let's get a majority class baseline

In [0]:
target = 'status_group'

y_train = y_train[target]

In [0]:
y_val = y_val[target]

In [138]:
y_train.head(), y_val.head()

(3607         functional
 50870        functional
 20413    non functional
 52806    non functional
 50091    non functional
 Name: status_group, dtype: object, 2980     non functional
 5246         functional
 22659        functional
 39888    non functional
 13361        functional
 Name: status_group, dtype: object)

In [139]:
y_train.value_counts(normalize=True)

functional                 0.542971
non functional             0.384091
functional needs repair    0.072938
Name: status_group, dtype: float64

In [0]:
majority_class = y_train.mode()[0]
y_pred = [majority_class] * len(y_val)

In [0]:
y_pred

In [142]:
from sklearn.metrics import accuracy_score

accuracy_score(y_val, y_pred)

0.5435185185185185

roughly the same as the percentage we got from above, maybe because we split y_val...?

can't use roc_auc for multiclass labels, let's just go on with accuracy score

I am just using the accuracy score now.

In [143]:
param_distributions = {
    'n_estimators': [100,200],
    'max_depth': [2,5]
    
}

search = RandomizedSearchCV(
    estimator = XGBClassifier(n_jobs=-1, random_state=42),
    param_distributions = param_distributions, #find active hyperparameteres
    n_iter = 50,
    scoring = 'accuracy',
    n_jobs = -1,
    cv = 3,
    verbose = 10,
    return_train_score=True
)

search.fit(X_train_numeric, y_train)

Fitting 3 folds for each of 4 candidates, totalling 12 fits

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:266: UserWarning: The total space of parameters 4 is smaller than n_iter=50. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    6.7s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:   17.1s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:   45.1s
[Parallel(n_jobs=-1)]: Done  12 out of  12 | elapsed:  1.3min finished

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
                   estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                           colsample_bylevel=1,
                                           colsample_bytree=1, gamma=0,
                                           learning_rate=0.1, max_delta_step=0,
                                           max_depth=3, min_child_weight=1,
                                           missing=None, n_estimators=100,
                                           n_jobs=-1, nthread=None,
                                           objective='binary:logistic',
                                           random_state=42, reg_alpha=0,
                                           reg_lambda=1, scale_pos_weight=1,
                                           seed=None, silent=True,
                                           subsample=1),
                   iid='warn', n_iter=50, n_jobs=-1,
                   param_distributions={'max_depth': [2, 5],
                                        'n_estimators': [100, 200]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=True, scoring='accuracy', verbose=10)

In [144]:
print('Cross-Validation accuracy score:', search.best_score_)

Cross-Validation accuracy score: 0.661952861952862

So, we have score from our basic X_train dataset. Now, let's apply this to our X_val dataset to get another accuracy score.

In [145]:
X_val.head()

       longitude  latitude     region  ...      quantity        source  source_class
2980   31.985658 -3.596360  Shinyanga  ...           dry  shallow well   groundwater
5246   32.832815 -4.944937     Tabora  ...  insufficient  shallow well   groundwater
22659  35.488289 -4.242048    Manyara  ...  insufficient        spring   groundwater
39888  33.140828 -9.059386      Mbeya  ...      seasonal  shallow well   groundwater
13361  34.217077 -4.430529    Singida  ...        enough   machine dbh   groundwater

[5 rows x 16 columns]

In [0]:
#best = search.best_estimator_
#y_pred = best.predict_proba(X_val_numeric.values)[:,1]
#print('validation roc_Auc:', accuracy_score(y_val, y_pred))

In [146]:
results = pd.DataFrame(search.cv_results_)
results.sort_values(by='rank_test_score').head()

   mean_fit_time  std_fit_time  ...  mean_train_score  std_train_score
3      18.283689      2.176876  ...          0.705061         0.001298
2      10.179767      0.091379  ...          0.677757         0.001573
1       9.193288      0.034635  ...          0.631376         0.003044
0       4.654798      0.021950  ...          0.620602         0.001658

[4 rows x 18 columns]

In [0]:
url = 'https://raw.githubusercontent.com/Hira63S/Project-2-Water-Pump/master/test_features.csv'

In [0]:
X_test =pd.read_csv(url)

In [205]:
X_test.head()

      id  amount_tsh  ...     waterpoint_type waterpoint_type_group
0  50785         0.0  ...               other                 other
1  51630         0.0  ...  communal standpipe    communal standpipe
2  17168         0.0  ...               other                 other
3  45559         0.0  ...               other                 other
4  49871       500.0  ...  communal standpipe    communal standpipe

[5 rows x 40 columns]

In [206]:
X_test_numeric = X_test.select.dtypes(numeric)

['id',
 'amount_tsh',
 'date_recorded',
 'funder',
 'gps_height',
 'installer',
 'longitude',
 'latitude',
 'wpt_name',
 'num_private',
 'basin',
 'subvillage',
 'region',
 'region_code',
 'district_code',
 'lga',
 'ward',
 'population',
 'public_meeting',
 'recorded_by',
 'scheme_management',
 'scheme_name',
 'permit',
 'construction_year',
 'extraction_type',
 'extraction_type_group',
 'extraction_type_class',
 'management',
 'management_group',
 'payment',
 'payment_type',
 'water_quality',
 'quality_group',
 'quantity',
 'quantity_group',
 'source',
 'source_type',
 'source_class',
 'waterpoint_type',
 'waterpoint_type_group']

In [0]:
X_test_numeric = X_test.drop(columns=['id', 'amount_tsh', 'date_recorded', 'funder', 'installer',
                               'gps_height', 'wpt_name', 'num_private','basin','subvillage',
                               'lga', 'ward', 'public_meeting', 'scheme_name',
                               'extraction_type_group', 'extraction_type_class', 'management',
                               'management_group', 'payment_type', 'quality_group',
                               'source_type', 'quantity_group', 'waterpoint_type',
                               'waterpoint_type_group'])

In [197]:
X_test.head()

      id  amount_tsh  ...     waterpoint_type waterpoint_type_group
0  50785         0.0  ...               other                 other
1  51630         0.0  ...  communal standpipe    communal standpipe
2  17168         0.0  ...               other                 other
3  45559         0.0  ...               other                 other
4  49871       500.0  ...  communal standpipe    communal standpipe

[5 rows x 40 columns]

In [211]:
X_test_numeric.shape, X_train.shape

((14358, 16), (47520, 16))

In [212]:
X_train_numeric.head()

       longitude  latitude  ...  population  construction_year
3607   35.426020 -4.227446  ...         160               1998
50870  35.510074 -5.724555  ...           0                  0
20413  32.499866 -9.081222  ...           0                  0
52806  34.060484 -8.830208  ...           0                  0
50091  37.032690 -6.040787  ...         120               1997

[5 rows x 6 columns]

In [0]:
X_test_numeric = X_test_numeric.drop(columns = ['recorded_by', 'scheme_management', 'permit',
                                    'extraction_type', 'payment', 'water_quality', 'quantity',
                                    'source', 'source_class'])

In [0]:
X_test_numeric = X_test_numeric.drop(columns = ['region'])

In [218]:
X_test_numeric.head()

   longitude   latitude  ...  population  construction_year
0  35.290799  -4.059696  ...         321               2012
1  36.656709  -3.309214  ...         300               2000
2  34.767863  -5.004344  ...         500               2010
3  38.058046  -9.418672  ...         250               1987
4  35.006123 -10.950412  ...          60               2000

[5 rows x 6 columns]

In [161]:
X_train_numeric.shape

(47520, 6)

In [185]:
X_train_numeric.head()

       longitude  latitude  ...  population  construction_year
3607   35.426020 -4.227446  ...         160               1998
50870  35.510074 -5.724555  ...           0                  0
20413  32.499866 -9.081222  ...           0                  0
52806  34.060484 -8.830208  ...           0                  0
50091  37.032690 -6.040787  ...         120               1997

[5 rows x 6 columns]

In [188]:
X_test_numeric.head()

   longitude   latitude  ...  population  construction_year
0  35.290799  -4.059696  ...         321               2012
1  36.656709  -3.309214  ...         300               2000
2  34.767863  -5.004344  ...         500               2010
3  38.058046  -9.418672  ...         250               1987
4  35.006123 -10.950412  ...          60               2000

[5 rows x 6 columns]

In [189]:
X_test.head()

  date_recorded  ... waterpoint_type_group
0      2/4/2013  ...                 other
1      2/4/2013  ...    communal standpipe
2      2/1/2013  ...                 other
3     1/22/2013  ...                 other
4     3/27/2013  ...    communal standpipe

[5 rows x 36 columns]

In [0]:
# estimator is your model or pipeline, which you've fit on X_train

# X_test is your pandas dataframe or numpy array, 
# with the same number of rows, in the same order, as test_features.csv, 
# and the same number of columns, in the same order, as X_train

y_pred = search.predict(X_test_numeric)


# Makes a dataframe with two columns, id and status_group, 
# and writes to a csv file, without the index

#filename = 'Water Pump1.csv'
#submission.to_csv(filename,index=False)
#print('Saved file:' + filename)

##sample_submission = pd.read_csv('sample_submission.csv')
#submission = sample_submission.copy()
#submission['status_group'] = y_pred
#submission.to_csv('your-submission-filename.csv', index=False)

In [0]:
submission = pd.DataFrame({'id': X_test['id'], 'status_group': list(y_pred)})

In [223]:
submission.head()

      id    status_group
0  50785      functional
1  51630      functional
2  17168      functional
3  45559  non functional
4  49871      functional

In [225]:
filename = 'first submission.csv'
submission.to_csv(filename,index=False)

print('saved file:' + filename)

saved file:first submission.csv